<h1>Where we are?</h1>

<div class="row">
	<div class="col-xs-3">
		<h3>Address</h3>
		<address>
			Tamaulipas 50<br>
			Centro<br>
			37800 Dolores Hidalgo Cuna de la Independencia Nacional, Gto.<br>
		</address>
	</div>
	<div class="col-xs-9">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.8878326101176!2d-100.93234028517061!3d21.1568616887689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3f060c76db23%3A0xa52c80d600c485ff!2sTamaulipas+50%2C+Centro%2C+37800+Dolores+Hidalgo+Cuna+de+la+Independencia+Nacional%2C+Gto.!5e0!3m2!1ses!2smx!4v1502087322117" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>